* {
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:"Segoe UI", Arial;
}

body {
 background:#fdfefe;
 font-size:18px;
 line-height:1.8;
 color:#2c3e50;
}

nav {
 position:sticky;
 top:0;
 z-index:100;
 display:flex;
 justify-content:space-between;
 align-items:center;
 background:linear-gradient(90deg,#145a32,#1e8449);
 padding:20px;
 color:white;
}

nav h1 { font-size:28px; }

nav ul {
 display:flex;
 list-style:none;
}

nav ul li {
 margin:0 14px;
}

nav ul li a {
 color:white;
 text-decoration:none;
 font-size:18px;
 font-weight:600;
}

nav button {
 background:#f9e79f;
 border:none;
 padding:10px 16px;
 font-size:16px;
 cursor:pointer;
 border-radius:6px;
}

.hero {
 height:95vh;
 background:
 linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
 url("https://narahariparvatha.vercel.app/_next/image?url=%2Fimages%2Ftemple-image.png&w=3840&q=75");
 background-size:cover;
 display:flex;
 align-items:center;
 justify-content:center;
 text-align:center;
 color:white;
}

.hero h2 { font-size:48px; }
.hero p { font-size:24px; margin:15px 0; }

.hero button {
 padding:14px 36px;
 font-size:20px;
 background:#27ae60;
 color:white;
 border:none;
 border-radius:8px;
 cursor:pointer;
}

section {
 padding:80px 30px;
 text-align:center;
}

h2 {
 font-size:36px;
 margin-bottom:25px;
}

.cards {
 background:#eafaf1;
}

.card-container {
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
 gap:30px;
}

.card {
 background:white;
 padding:30px;
 border-radius:16px;
 box-shadow:0 10px 20px rgba(0,0,0,0.15);
 transition:transform 0.3s;
}

.card:hover {
 transform:translateY(-10px);
}

.gallery {
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
 gap:25px;
}

.gallery img {
 width:100%;
 height:240px;
 object-fit:cover;
 border-radius:14px;
 cursor:pointer;
 transition:transform 0.3s;
}

.gallery img:hover {
 transform:scale(1.08);
}

.info-text {
 margin-top:20px;
 font-size:19px;
}

#lightbox {
 position:fixed;
 top:0; left:0;
 width:100%; height:100%;
 background:rgba(0,0,0,0.9);
 display:none;
 justify-content:center;
 align-items:center;
 z-index:1000;
}

#lightbox img {
 max-width:90%;
 max-height:90%;
 border-radius:12px;
}

#lightbox .close {
 position:absolute;
 top:20px;
 right:40px;
 font-size:40px;
 color:white;
 cursor:pointer;
}

.visit-list {
 list-style:none;
 font-size:20px;
}

.visit-list li {
 margin:12px 0;
}

.contact-form {
 max-width:450px;
 margin:auto;
}

.contact-form input,
.contact-form textarea {
 width:100%;
 margin:10px 0;
 padding:14px;
 font-size:16px;
}

.contact-form button {
 background:#27ae60;
 color:white;
 padding:14px;
 font-size:18px;
 border:none;
 border-radius:6px;
}

footer {
 background:#145a32;
 color:white;
 text-align:center;
 padding:30px;
 font-size:16px;
}
